<!DOCTYPE HTML>
<html >
<head>
    <style type="text/css">
        * {margin: 0; padding: 0;} /* обнуляем отступы */
        body  {
            text-align: center; /* выравниваем все содержимое body по центру */
            background-image: url("http://ecovoice.ru/uploads/images/0/4/2/c/3000/big/13ad383571.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: 100% 100%;
            opacity: 1;
        }
        div {

            margin: 5px 0 0;
            font-weight: bold;
        }
        table {

            background: #ff6000; /* цвет блока для наглядности */
            /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
            margin: auto;
            border: 1px solid green;

        }
        TH, TD {
            border: 1px solid black; /* Параметры рамки */
            text-align: center; /* Выравнивание по центру */
            padding: 4px; /* Поля вокруг текста */
        }
        H1  {
            height: 40px; /* Высота ячеек */
            vertical-align: bottom; /* Выравнивание по нижнему краю */
            font-weight: 100;
            letter-spacing: 5px; /*Расстояние между буквами*/
            padding: 0; /* Убираем поля вокруг текста */
        }
         a {
        font-weight: bold;
       /* background: #29d5ff; /* Цвет фона ячейки */
        }
        .raz{
            padding: 10px;
            /*font-size: 2em;*/
            text-align: center;
            background-image: linear-gradient(rgba(15, 126, 255, 0.5), rgba(255,245,215,.5));
        }

        p {
            margin: 20px 0 0;
        }
        a{
            margin: 20px 0 0;
        }
    img{
        opacity: 0.7;
        margin: 20px 0 0;
    }
    </style>

    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="raz">

<h1>Уважаемый пользователь!</h1>
<p >
    Сейчас Вы находитесь на сайте, являющийся интеллектуальной собственностью студентов Ярославского Государственного Технического Университета группы ЭМИС-14м:
</p>
<div>
    Смирнова Романа Николаевича и Балшиной Светланы Сергеевны.
</div>
<p >
По указанной ниже ссылке Вы попадёте на страницу авторизации интенет-магазина смартфонов выпущенных самыми известными производителями за 2017 и 2018 год.
    Операционная система представленных моделей - Android v 8.0, цена которых от 20 000руб до 70 000руб.
</p>
<div>
    Приятного просмотра)
</div>
<!--<img src="https://p85kpg.am.files.1drv.com/y4mwmtTGQ7204LvJ5vEz7hVgrVfvZST8aZ3L8bP331-rOS1JPDGFlerQPAOpDLLSzfkaJn63KM_xwOmneHaChGcWvWgIACRD_HDpsEwGaw78dcPi7tSt495diOuAsEfmYY4cUmUxfNP7KEl1Fs1HXJC1R0FndLVK5jiUfgG-6xsxJNp5UlAcolcTs6JTHdkMwFj6eGoBc7mN5wkp5PMeJhBAQ/123.jpg?psid=1"/>-->
<!--<table>-->
    <!--<tr>-->
        <!--<td><div><h5 style="color: #000000; text-align: center;">-->
            <!--<code>Hello, user!</code></h5> </div></td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td><a href="/main"></a></td>-->
    <!--</tr>-->
<!--</table>-->
<a href="/main">Переход на страницу авторизации в интернет-магазине</a>
<p></p>
<img src="https://www.telefoonabonnement.nl/nieuws/wp-content/uploads/SmartPhonePile-661x276.jpg" />

</body>
</html>